<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <connectionString>Server=9d8ecf7e-be7f-49a2-9b5b-a09e00d1afa4.sqlserver.sequelizer.com;Database=db9d8ecf7ebe7f49a29b5ba09e00d1afa4;User ID=dlpdvgzsvchbgacu;Password=kDWMxpWvcVh4miJXcQkqEnUzLzgvTS2k4XiVRPdZLpedgaGQDAbFYWs6Sva6iAJs;</connectionString>
    <key1>abc</key1>
  </properties>
</configuration>
