<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--https://rgdsbwlyvx.database.windows.net/-->
    <connectionString>Data Source=tcp:rgdsbwlyvx.database.windows.net,1433;Initial Catalog=cooper_dev;User ID=codesharp@rgdsbwlyvx;Password=COOPERcooper5323210;</connectionString>
  </properties>
</configuration>
