<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <appSettings>
  </appSettings>
  <castle>
    <include uri="file://application_config/properties.config" />
    <include uri="file://application_config/facilities.config" />
  </castle>
</configuration>